<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="https://raw.githubusercontent.com/NameArtem/nameartem.github.io/master/src/img/mainImg.png">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <p>
          <span class="site-title" style="color:#6c7690">[{{site.user_title}}]</span>
        </p>

        <div class="icons-home">
            <!--
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>
            <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>
            -->
            <a aria-label="My Facebook" title="Show my feed" target="_blank" href="https://facebook.com/{{site.facebook_username}}">
                <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
            </a>

            <a aria-label="My Github" title="Show my projects" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="My LinkedIn" title="Show my linkedin profile" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a>


        </div>

        <ul class="recent">
            <p>Recent posts:</p>
             {% for post in site.posts limit:3%}
                <li>
                    <a title="Will take a my recent post" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

        <ul class="recent">
            <p>Recent update in project:</p>
             {% for project in site.projects limit:3%}
                <li>
                    <a title="Show my recent project" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>

        <ul class="recent">
            <p>Recent speeches:</p>
             {% for speech in site.speeches limit:3%}
                <li>
                    <a title="Show my recent speech" href="{{ speech.url}}">
                        <h2 class="post-title" itemprop="name">{{ speech.name }}</h2>
                    </a>
                </li>
              {% endfor %}
        </ul>




    </div>
    {% include menu-search.html %}
</header>
